* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #2874f0;
}

header {
    background-color: var(--main-bg-color);
    color: white;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 13px;
}

nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 20px;
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding-left: 10px;
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    margin: 0px 35px;
}

button {
    font-family: 'Work Sans', sans-serif;
    height: 26px;
    width: 59px;
    margin: 12px -23px;
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: var(--main-bg-color);
}

.container {
    min-height: calc(100vh - 50px - 11vh);
    /*add spaces in between subtraction operator*/
}

.cards {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 25px 0px;
    /* justify-content: center; */
}

.card {
    width: 80vw;
    margin: 32px auto;
    font-family: 'Work Sans', sans-serif;
}

.card-item {
    width: 10vw;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lines p {
    padding: 5px;
}

footer {
    height: 11vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Work Sans', sans-serif;
}